@import "tailwindcss";

/*
black:#0D141C
orange: #D64C31
blue: #8fb5ca
green: #486B4A
white: #FFFAFA
*/

.app{
  /* background-color: '#FFFAFA'; */
  /* background-color: black; */
}

/*#region Navbar*/

.nav-container {
  position: sticky;
  top: 0;
  background: white; /* Ensure navbar remains visible */
  z-index: 50; /* Make sure it stays above other elements */
}


nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  width: 100vw;
}

.logo{
  flex-grow: 1;
  width: 172px;
  height: auto;
}

.left-nav {
  left: 0;
}

.nav-item{
  padding-right: 50px;
}

.search-container{
}

/*#endregion */
.bg-img {
  color: 
}

.home-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #0D141C;
}


.title-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -172px;
}

.title{
  font-size: 104px;
  font-weight: 700;
  letter-spacing: -8px;
  text-align: center;
}

/*#region Footer*/
.footer-container{
  margin-top: auto;
}

.footer-link{
  padding-right: 50px;
}

/*#endregion */

/*#region Help*/

.help {
  max-width: fit-content;
  margin-top: 100px;
  margin-bottom: 100pxs;
  margin-left: auto;
  margin-right: auto;
}

.help-title{
  font-size: 60px;
}
.help-title2{
  font-size: 48px;
}
.help-title3{
  font-size: 36px;
}
.faq-question{
  font-weight: 700;
}
/*#endregion Help*/

/*#region Search*/


/*endregion */

/*#region products*/

.product-list{
  display: grid;
}

.product{
  cursor: pointer;
}

.product-image{
  width: 450px;
  height: auto;
}

.cart-button{
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 10px;
}

/*#endregion*/