@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */

@font-face {
  font-family: 'RadioGroteskBlack';
  src: url('./assets/RadioGrotesk/PPRadioGrotesk-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('./assets/Anton/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*#region Neue */
@font-face {
  font-family: 'Neue';
  src: url('./assets/NeueMontreal/NeueMontreal-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Neue';
  src: url('./assets/NeueMontreal/NeueMontreal-Italic.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Neue';
  src: url('./assets/NeueMontreal/NeueMontreal-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Neue';
  src: url('./assets/NeueMontreal/NeueMontreal-MediumItalic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Neue';
  src: url('./assets/NeueMontreal/NeueMontreal-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Neue';
  src: url('./assets/NeueMontreal/NeueMontreal-LightItalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Neue';
  src: url('./assets/NeueMontreal/NeueMontreal-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Neue';
  src: url('./assets/NeueMontreal/NeueMontreal-BoldItalic.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
/*#endregion*/


/*#region Apple Garamond */
@font-face {
  font-family: 'Apple Garamond';
  src: url('./assets/AppleGaramond/AppleGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Apple Garamond';
  src: url('./assets/AppleGaramond/AppleGaramond-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Apple Garamond';
  src: url('./assets/AppleGaramond/AppleGaramond-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Apple Garamond';
  src: url('./assets/AppleGaramond/AppleGaramond-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Apple Garamond';
  src: url('./assets/AppleGaramond/AppleGaramond-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'Apple Garamond';
  src: url('./assets/AppleGaramond/AppleGaramond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*#endregion*/

/*
black:#0D141C
orange: #D64C31
blue: #8fb5ca
green: #486B4A
white: #FFFAFA
*/

.app{
  /* background-color: '#FFFAFA'; */
  /* background-color: black; */
  /* background-color: #FFFAFA; */
}

body {
  background-color: hsl(0, 100%, 99%);
}

/*#region Navbar*/

.nav-container {
  /* display: relative;
  position: sticky;
  top: 0;
  background: #FFFAFA;
  z-index: 50; */
}

.home-nav-container {
  /* display: relative;
  position: sticky;
  top: 0;
  background: none;
  z-index: 50; */
}


nav {
  /* position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  width: 100vw;
  font-family: 'Neue';
  font-weight: 400; */
}

.logo{
  /* flex-grow: 1;
  width: 172px;
  height: auto; */
}

.left-nav {
  /* left: 0; */
}

.nav-item{
  /* padding-right: 50px; */
  transition: text-decoration 0.4s ease-in-out;
}

.nav-item:hover{
  /* text-decoration: underline; */
}

.search-container{
}

/*#endregion */

/*#region Home Page*/

.home-page{
  /* height: 100vh;
  display: flex;
  flex-direction: column;
  color: #0D141C; */
}

.bg-img{
  /* background-color: #fff8f7;   */
}


.title-container {
  /* flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -172px; */
}

.title{
  /* font-family: 'Neue'; */
  /* font-weight: 500; */
  font-size: 150px;
  letter-spacing: -8px;
  line-height: 140px;
  /* text-align: center; */
  /* color: black; */
}



.latest-link {
  font-size: 20px;
  /* margin-top: 20px; */
  /* font-family: 'Neue'; */
  /* font-weight: 400; */
}

.latest-link:hover{
  /* text-decoration: underline; */
}

/*#endregion */

/*#region Footer*/
.footer-container{
  /* margin-top: auto;
  background-color: #5a190f; */
}

.footer-link{
  /* background-color: #fff8f7;
  padding-right: 50px; */
}

/*#endregion */

/*#region Help*/

.help {
  /* font-family: 'Neue';
  max-width: fit-content;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto; */
}

.help-title{
  /* font-size: 48px;
  font-weight: 500; */
}
.help-title2{
  /* font-size: 36px;
  font-weight: 500; */
}
.faq-question{
  /* font-weight: 500;
  letter-spacing: 1px; */
}
/*#endregion Help*/

/*#region Search*/


/*endregion */

/*#region products*/

.product-list{
  /* display: grid; */
}

.product{
  /* cursor: pointer;
  font-family: 'Neue'; */
}

.product :hover{

}


.product-image{
  /* width: 450px;
  height: auto; */
}

.cart-button{
  /* cursor: pointer;
  color: black;
  padding: 10px; */
  transition: text-decoration 0.3s ease-in-out;
}

.cart-button:hover{
  /* text-decoration: underline; */
  /* color: white; */
}

.size-button:active .size-options{
  display: block;
}

/*#endregion*/


/*#region cart*/
.cart-container {
  /* font-family: 'Neue'; */
}


/*#endregion*/